body {
  margin: 0;
  height: 100vh;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  background: #fdfefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-logo {
  margin-bottom: 50px;
}

.main-logo img {
  width: 380px;
  max-width: 90%;
}

.center {
  display: flex;
  gap: 36px;
}

.back-button {
  margin-top: 32px;
}

.gummy-btn {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 26px;
  background: #fff;
  box-shadow:
    0 8px 0 rgba(0,0,0,0.12),
    0 16px 26px rgba(0,0,0,0.25);
  animation: gummyIdle 2.5s ease-in-out infinite;
  transition: box-shadow 0.2s, transform 0.15s;
  cursor: pointer;
}

.gummy-btn img {
  display: block;
  width: 220px;
}

.gummy-btn:active {
  animation: gummyPress 0.35s ease-out;
  transform: translateY(6px);
  box-shadow:
    0 4px 0 rgba(0,0,0,0.15),
    0 8px 16px rgba(0,0,0,0.25);
}

.start-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: 22px;
}

.start-btn img {
  width: 150px;
  cursor: pointer;
}


@keyframes gummyIdle {
  0%,100% { transform: scale(1,1); }
  50% { transform: scale(1.03,0.97); }
}

@keyframes gummyPress {
  0% { transform: scale(1); }
  40% { transform: scale(0.95,1.08); }
  70% { transform: scale(1.05,0.96); }
  100% { transform: scale(1); }
}


.gummy-rain {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.gummy {
  position: absolute;
  width: 60px;
  height: 88px;
  border-radius: 50% / 60%;
  opacity: 0.95;
  animation: fall linear, squish 2s ease-in-out infinite;
}

.gummy::before {
  content: "";
  position: absolute;
  top: 12%;
  left: 18%;
  width: 28%;
  height: 38%;
  background: rgba(255,255,255,.6);
  border-radius: 50%;
  transform: rotate(-20deg);
}

.green { background: #22ff8d; }


@keyframes fall {
  from { transform: translateY(-120px) rotate(0deg); }
  to   { transform: translateY(110vh) rotate(360deg); }
}

@keyframes squish {
  0%,100% { border-radius: 50% / 60%; }
  50% { border-radius: 55% / 50%; }
}


.popi-btn img {
  width: 300px;
}

.main-start {
  margin-top: 32px;
}

.stage-title {
  margin-bottom: 26px;
  font-size: 26px;
}

.stage-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 16px;
  margin-bottom: 36px;
  max-height: 60vh;
  overflow-y: auto;
  padding: 6px 10px;
}

.stage-btn {
  width: 240px;
  padding: 16px 24px;
  border-radius: 20px;
  border: none;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow:
    0 6px 0 rgba(0,0,0,0.15),
    0 14px 22px rgba(0,0,0,0.25);
  animation: gummyIdle 2.5s ease-in-out infinite;
}

.stage-btn:active {
  transform: translateY(5px);
  box-shadow:
    0 3px 0 rgba(0,0,0,0.15),
    0 6px 14px rgba(0,0,0,0.25);
}

.stage-btn.active {
  outline: 4px solid #02ff1b;
}

.stage-num {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.stage-desc {
  font-size: 13px;
  opacity: 0.7;
}